---
import '../styles/global.css';
// Component Imports
import Button from '../components/Button.astro';

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Tangle AR App</title>
	</head>

	<body>
        <a href="/">Tangle</a>
        <a href="/changelog">Changelog</a>
		
		<div class="grid place-items-center h-screen content-center">
			<h1>Tangle AR App</h1>
			<p>
				Welcome to the landing page of the Tangle AR App! Tangle is a mobile iOS app for spatial annotation and poetic encounters. 
				To discover the app, please visit the App Store.
			</p>
			<p>
				<i>Tangle is currently in beta and only available on iOS.</i>
			</p>
			<Button>Download Tangle</Button>
			<a href="/changelog" class="p-4 underline">Changelog</a>
		</div>
	</body>
</html>
