---
interface Props {
  href: string;
  icon?: any;
  compact?: boolean;
  class?: string;
}

const { href, icon: Icon, compact = false, class: className } = Astro.props;
---

<a
  href={href}
  class:list={[
    className,
    'group relative isolate flex items-center rounded-lg px-2 py-0.5 text-[0.8125rem]/6 font-medium text-white/30 transition-colors hover:text-sky-300',
    compact ? 'gap-x-2' : 'gap-x-3',
  ]}
>
  <span class="absolute inset-0 -z-10 scale-75 rounded-lg bg-white/5 opacity-0 transition group-hover:scale-100 group-hover:opacity-100" />
  {Icon && <Icon class="h-4 w-4 flex-none" />}
  <span class="self-baseline text-white"><slot /></span>
</a>
