---
import Button from './Button.astro';
// You can add form handling later
// import { Button } from './Button.astro'
---

<form class="relative isolate mt-8 flex items-center pr-1">
  <label for="email" class="sr-only">
    Email address
  </label>
  <input
    required
    type="email"
    name="email"
    id="email"
    placeholder="Email address"
    class="peer w-0 flex-auto bg-transparent px-4 py-2.5 text-base text-white placeholder:text-gray-500 focus:outline-hidden sm:text-[0.8125rem]/6"
  />
  <Button type="submit" variant="submit" arrow class="ml-4">
    Get updates
  </Button>
  <div class="absolute inset-0 -z-10 rounded-lg transition peer-focus:ring-4 peer-focus:ring-sky-300/15" />
  <div class="absolute inset-0 -z-10 rounded-lg bg-white/2.5 ring-1 ring-white/15 transition peer-focus:ring-sky-300" />
</form>
