---
interface Props {
  src: string;
  alt?: string;
}

const { src, alt = "" } = Astro.props;
---

<div class="relative overflow-hidden rounded-xl bg-gray-50 dark:bg-gray-900">
  <img
    src={src}
    alt={alt}
    class="w-full"
    sizes="(min-width: 1280px) 36rem, (min-width: 1024px) 45vw, (min-width: 640px) 32rem, 95vw"
  />
  <div class="pointer-events-none absolute inset-0 rounded-xl ring-1 ring-gray-900/10 ring-inset dark:ring-white/10" />
</div>
