---
import '../styles/global.css';
import FixedSidebar from '../components/FixedSidebar.astro';
import Timeline from '../components/Timeline.astro';
import Intro from '../components/Intro.astro';
// import IntroFooter from '../components/IntroFooter.astro';
import ThemeToggle from '../components/ThemeToggle.astro';
import { components as mdxComponents } from '../components/mdx.astro';

// Get frontmatter from MDX
const { frontmatter } = Astro.props;
---

<html lang="en" class="dark:bg-gray-950">
  <head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{frontmatter.title}</title>
	</head>

	<body class="bg-white dark:bg-gray-950">
    <FixedSidebar>
      <Intro slot="main" />
      <!-- <IntroFooter slot="footer" /> -->
    </FixedSidebar>
    
    <ThemeToggle />
    
    <div class="relative flex-auto">
      <Timeline />
      <main class="space-y-20 py-20 sm:space-y-32 sm:py-32">
        <!-- Fix width and positioning: use ContentWrapper concept -->
        <div class="mx-auto max-w-7xl px-6 lg:flex lg:px-8">
          <div class="lg:ml-96 lg:flex lg:w-full lg:justify-end lg:pl-32">
            <div class="prose prose-slate dark:prose-invert mx-auto max-w-lg lg:mx-0 lg:w-0 lg:max-w-xl lg:flex-auto typography">
              <slot />
            </div>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>